/* Set default styles for all devices */

   
.signup-form {
  width: 300px;
  padding: 20px;
  text-align: center;
  background: rgba(180, 118, 174, 0.7);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 5px;
}

.title {
  color: rgba(230, 60, 219, 0.922);
  font-family: Arial, Helvetica, sans-serif;
}

.signup-form input {
  display: block;
  width: 100%;
  padding-left: 10px;
  height: 44px;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

.txt {
  margin: 20px 0px;
  border-radius: 5px;
}

.btn {
  margin-top: 60px;
  margin-bottom: 20px;
  background: #520374;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.8s;
}

.btn:hover {
  transform: scale(0.96);
  
}

.signup-form a {
  text-decoration: none;
  color: #145751;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px;
  transition: 0.8s;
  display: block;
}

.signup-form a:hover {
  background: rgba(54, 8, 169, 0.411);
  color: #fff;
}

/* Set styles for devices with a max width of 768px */
@media (max-width: 768px) {
  .signup-form {
    width: 100%;
    max-width: 400px;
  }
  body {
    font-size: 14px;
  }
  .btn {
    margin-top: 40px;
  }
}
