.A1 {
  background-color: #af4c8c;
}



.A2{

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center top;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 60px;

}


